<form class="col-4 m-auto">
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo:</label>
        <input type="text"class="form-control" id="titulo" aria-describedby="helpId" autocomplete="off" [(ngModel)]="livro.titulo" name="titulo">
    </div>

    <div class="mb-3">
        <label for="autor" class="form-label">Autor:</label>
        <input type="text" class="form-control" id="autor" aria-describedby="helpId" autocomplete="off" [(ngModel)]="livro.autor" name="autor">
    </div>

    <div class="row">
        <div class="col">
            <input class="btn btn-success col" type="button" value="Salvar" (click)="salvar()">
        </div>
        <div class="col">
            <input class="btn btn-outline-secondary col" type="reset" value="Limpar">
        </div>
    </div>
</form>