<div class="conteiner my-2">
    <div class="row justify-content-end">
        <div class="col-1">
            <input class="btn btn-primary" type="button" value="Adicionar" (click)="abrirModal(modal, 'Adicionar', null)">
        </div>
    </div>
</div>

<table class="m-auto">
    <thead>
        <tr>
            <th class="w-25 text-center">Modelo</th>
            <th class="w-25 text-center">Ano</th>
            <th class="w-25 text-center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carro of carros">
            <td class="w-25 text-center">{{ carro.modelo }}</td>
            <td class="w-25 text-center">{{ carro.ano }}</td>
            <td class="w-25 text-center"><input class="btn btn-info" type="button" value="Detalhes" (click)="abrirModal(modal, 'Editar', carro)"></td>
        </tr>
    </tbody>
</table>

<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ tipoModal }} carro</h4>
        <button type="button" class="btn-close" aria-label="Close"(click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-carro-detail (retorno)="adicionarLivro($event)" [entrada] = "carroSelecionado"></app-carro-detail>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>